*{
    margin: 0;
    padding: 0;
}

body{
    background:rgb(244,244,246);

    padding-top: 44px;
    padding-bottom: 60px;
}

.DS_header {
    background: rgb(40,133,202);
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    color: white;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.DS_second_section img{
    width: 100%;
}



ul li span {
    display: block;
}

footer{
    text-align: center;
    background: black;
    display: table;
    width: 100%;
    vertical-align: middle;

    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

  footer  a {
    text-decoration: none;
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;

}

  /*footer a img{*/
       /*width: 24px;*/
   /*}*/

footer a span {
    display: block;
    color: white;
}

.EP_menu{
    display: table;
    height: 40px;
    width: 100%;
    background: lightgrey;

}
.EP_menu a{
    display: table-cell;
    width: 33.3%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.EP_diamond_first_div{
    background: white;

}

.EP_diamond_first_div section{
    color: black;
    margin-top: 10px;
}

.EP_diamond_first_div img{
    width: 80%;
    margin: 10px auto;

}
.EP_diamond_first_div h5{
    color: grey;
    line-height: 25px;
}


.EP_diamond_second_div h5{
    color: grey;
    line-height: 25px;
}

.EP_diamond_second_div img{
    width: 100%;
}